SECRET_KEY=your_secret_key
DEBUG=True
ALLOWED_HOSTS=

#CH
CLICKHOUSE_HOST=localhost
CLICKHOUSE_PORT=9000
CLICKHOUSE_USER=default
CLICKHOUSE_PASSWORD=your_password
CLICKHOUSE_DATABASE=habit_tracker

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_URL=redis://localhost:6379
CELERY_BROKER_URL=redis://localhost:6379/0
CELERY_RESULT_URL=redis://localhost:6379/0

# Email
EMAIL_HOST_USER=your_email
EMAIL_HOST_PASSWORD=your_password